@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{

    <div class="card" style="width: 18rem;">
  <img src="./images/@Model.Img" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">@Model.Address</p>
    
  </div>
</div>




    // <table class="table">
    //     <thead>
    //         <tr>
    //             <th scope="col">ID</th>
    //             <th scope="col">Name</th>
    //             <th scope="col">Image</th>
    //             <th scope="col">Address</th>
    //         </tr>
    //     </thead>
    //     <tbody class="table-group-divider">
            
    //             <tr>
    //                 <td>
    //                    @Model.Id
    //                 </td>
    //                 <td>
    //                     @Model.Name
    //                 </td>
    //                 <td>
    //                     <img src="./images/@item.Img" />
    //                 </td>
    //                 <td>
    //                     @Model.Address
    //                 </td>

    //             </tr>
            
    //     </tbody>
    // </table>

}
